<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>keyboard_01</string>
		<key>title</key>
		<string>图库</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_02</string>
		<key>title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_03</string>
		<key>title</key>
		<string>录音</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_04</string>
		<key>title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_05</string>
		<key>title</key>
		<string>录音</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_06</string>
		<key>title</key>
		<string>图库</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_07</string>
		<key>title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_08</string>
		<key>title</key>
		<string>录音</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_09</string>
		<key>title</key>
		<string>图库</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_10</string>
		<key>title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_11</string>
		<key>title</key>
		<string>录音</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_12</string>
		<key>title</key>
		<string>图库</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_13</string>
		<key>title</key>
		<string>录音</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_14</string>
		<key>title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_15</string>
		<key>title</key>
		<string>录音</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>keyboard_16</string>
		<key>title</key>
		<string>添加</string>
	</dict>
</array>
</plist>
